*{
    margin: 0px;
    overflow-x: hidden;
}
body{
    background-color: rgb(31, 30, 30);
}
main{
    max-width: 2000px;
    min-width: 200px;
}
header{
position: relative;
background-image: linear-gradient(to right, black, rgb(58, 57, 57));
color: white;
overflow: hidden;

}
nav{
   padding-top: 10px;
  padding-bottom: 22px;
  
}
#butao{
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    
}
a{
    color: white;
    text-decoration: none;
   
}
a:hover{
    font-size: 19px;
}

.nomeprincipal>h1{
    position: relative;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

#filmes{
    
    top: 15%;
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    width: 100%;
    justify-content: space-around;
}
img{
    
    border: 4px solid white;
    height: 300px;
   
}
.text{
    
    background-image: linear-gradient(to left top,black,rgb(9, 3, 46));;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
   
}
.text1{
    
    background-image: linear-gradient(to left top,black,rgb(68, 41, 11));;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
   
}
.text2{
    
    background-image: linear-gradient(to left top,black,rgb(17, 27, 49));
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
   
}
.text>p{
    position: relative;
    bottom: 0px;
    text-align: justify;
}
#destaques{
    position: relative;
    padding-bottom: 20px;
    color: rgb(206, 206, 206);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 760px){
    #filmes{
        width: 100%;
        flex-direction: column;
    }
    
}