*{
    margin: 0px;
    overflow-x: hidden;
}
body{
    background-color: rgb(31, 30, 30);
}
main{
    max-width: 2000px;
    min-width: 200px;
}
header{
position: relative;
background-image: linear-gradient(to right, black, rgb(58, 57, 57));
color: white;
overflow: hidden;
padding-bottom: 30px;

}
#cine{
  position: relative;
  top: 20px;
  padding-left: 10px;
}
#butao{
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
   left: 120px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
a{
    position: relative;
    color: white;
    text-decoration: none;
    padding-top: 100px;
   
}
a:hover{
    font-size: 19px;
}

#propaganda{
    margin-top: 30px;
    width: 45%;
    margin-left: 27%;
    display: inline-flex;
    height: 100px;
    margin-bottom: 50px;
    padding: 20px 20px 20px 10px;
    background-color: rgb(53, 52, 52);
}
#propaganda>img{
    padding-left: 30px;
}
.propaganda1{
  
    display: none;
}
.propaganda2{
    display: none;
}


#filmes{
    
    
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    width: 100%;
    justify-content: space-around;
}
.fotosfilmes{
    
    border: 4px solid white;
    height: 300px;
   
}
.text{
    
    background-image: linear-gradient(to left top,black,rgb(9, 3, 46));;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
   
}
.text1{
    
    background-image: linear-gradient(to left top,black,rgb(68, 41, 11));;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
   
}
.text2{
    
    background-image: linear-gradient(to left top,black,rgb(17, 27, 49));
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
   
}
.text>p{
    position: relative;
    bottom: 0px;
    text-align: justify;
}
#destaques{
    position: relative;
    padding-bottom: 20px;
    color: rgb(206, 206, 206);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#segundafileirafilmes{
    
    top: 60%;
    position: absolute;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    width: 100%;
    justify-content: space-around;
}
@media screen and (max-width: 760px){
    #filmes{
        width: 100%;
        flex-direction: column;
    }
    #segundafileirafilmes{
        width: 100%;
        flex-direction: column;
    }
    #propaganda{
        width: 25%;
        margin-left: 10px;
        display: inline-flex;
        height: 100px;
        display: none;
    }
    .propaganda1{
        display: inline-flex;
        visibility: visible;
        padding: 0px;
        margin-top: 10px;
        margin-left: 22%;
        background-color: rgb(65, 64, 64);
        padding: 10px 10px 5px ;
    }
    .propaganda2{
        display: inline-flex;
        height: 50px;
        margin-left: 21.9%;
        margin-bottom: 10px;
        visibility: visible;
        background-color: rgb(65, 64, 64);
        padding: 2px 10px 10px ;
        
    }
}